<ion-view view-title="create">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nombre del jugador"  ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Nombre de la partida" ng-model="data.name">
      </label>
      <button class="button button-full button-positive activated" ng-click="createGame()">
        Crear
      </button>
    </div>
  </ion-content>
</ion-view>